body::-webkit-scrollbar {
    display: none;
}

span[vimbhint^='label'] {
    background-color: #E8EB98 !important;
	color: #000000 !important;
    border: none !important;
	font: bold 10pt "Courier New", Courier, monospace !important;
    opacity: 1 !important;
    text-transform: uppercase !important;
}
span[vimbhint='label focus'] {
    border: 1px solid #000 !important;
}
*[vimbhint^='hint'] {
    background-color: #EFEFD8 !important;
}
*[vimbhint='hint focus'] {
    background-color: #E8EB98 !important;
}
